.App {
  text-align: center;
  background-image: url("https://thumbs.gfycat.com/ImmaculateGlossyAsiaticmouflon-size_restricted.gif");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: rgb(12, 0, 9);
  margin: 0;
  padding: 0;
  width: auto;
  position: relative;
  cursor: pointer;
}
body{
  margin: 0;
  padding: 0;
}
